
* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: Bitstream Vera Sans;
    font-size: 11pt;
}

#header {
    padding: 1em;
    width: 100%;
    overflow: hidden;
    background-color: rgb(245,245,245);
}

#header h1 {
    margin: 0;
    padding: 0;
    font-size: 1.5em;
    color: rgb(100,125,150);
    color: rgb(100,100,100);
    float: left;
}

#identity {    
    float: right;
    margin-top: 0.5em;
    font-size: 0.8em;
}

#identity .user_identifier {
    color: rgb(100,100,100);
    font-weight: bold;
}

#identity form {
    display: inline;
    margin: 0;
    padding: 0;
}

a, #identity input {
    font-size: inherit;
    background: none;
    border: none;
    text-decoration: none;
    color: rgb(100,125,150);
    margin: 0;
    padding: 0;
}

#navigation {
    clear: both;
    overflow: hidden;
    width: 100%;
    border: 1px dotted rgb(210,220,230);
    border-left: none;
    border-right: none;
}

#navigation a {    
    float: left;
    display: block;
    background-repeat: no-repeat;
    background-position: 0.7em 0.6em;
    padding-left: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-right: 1em;
    border-right: 1px dotted rgb(210,220,230);
}

#navigation a.selected {
    font-weight: bold;
}

#site_tab {
    background-image: url(site.png);
}

#pages_tab {
    background-image: url(pages.png);
}

#content_tab {
    background-image: url(document.png);
}

#access_rules_tab {
    background-image: url(access_rule.png);
}

#body {
    clear: both;
    padding: 1em;
}

.PageTreeView ul {
	padding-top: 1em;
}

.PageTreeView li {
    list-style-type: none;	
	padding-bottom: 1em;
}

.PageTreeView li .label {
	font-weight: bold;
}

.PageTreeView .actions {
	margin-top: 0.3em;
}

.PageTreeView .actions a {
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	font-size: 0.8em;
	background-repeat: no-repeat;
	background-position: 0 1px;
	padding-left: 1.7em;
	margin-right: 1.5em;
}

.PageTreeView .actions .new {
	background-image: url(new.png);
}

.PageTreeView .actions .edit {
	background-image: url(edit.png);
}

.PageTreeView .actions .reorder {
	background-image: url(reorder.png);
}

.PageTreeView .actions .delete {
	background-image: url(delete.png);
}

.Table {
	border-collapse: collapse;
    width: 100%;
}

.Table th {
    font-weight: bold;
    color: rgb(75,75,75);
}

.Table th, .Table td {
	text-align: left;
	padding: 0.5em;
	padding-right: 1em;
}

.Table .even {
	background-color: rgb(230,235,242);
	background-color: rgb(235,240,247);
}

