<?python
from magicbullet.html import Element
?>

<html
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:py="http://genshi.edgewall.org/">
	
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
        <title>MagicBullet CMS</title>
        <link rel="Stylesheet" type="text/css" href="/resources/styles/backoffice.css"/>
        <py:for each="resource in item.resources">${resource.html}</py:for>
	</head>
	
    <body>

        <div id="header">
            <h1>MagicBullet CMS</h1>
            <div id="identity" py:if="not user.anonymous">
                ${translations.request("logged in as")}
                <span class="user_identifier">${user.title}</span>.
                <form method="post">
                    <input type="submit" name="logout" value="${translations.request('Logout')}"/>
                </form>
            </div>
        </div>

        <div id="navigation">
            <py:for each="section in item.sections">
                <?python
                tab = Element("a")
                tab["id"] = section + "_tab"
                tab["href"] = cms.uri(item.path, section)
                if section == active_section:
                    tab.add_class("selected")
                tab.append(translations.request(section + "_section"))
                ?>
                ${Markup(tab.render())}
            </py:for>
        </div>
        
        <div id="body">
            <body-block/>
        </div>

        <div id="footer">
            <footer-block/>
        </div>

	</body>

</html>
