<?python
from magicbullet.html import Element
from magicbullet.html.treeview import TreeView

class PageTreeView(TreeView):

    def create_entry(self, page):
        entry = TreeView.create_entry(self, page)
        entry.insert(1, self.create_actions(page))
        return entry

    def create_label(self, page):
        link = Element("a")
        link.add_class("label")
        link.add_class(page.__class__.__name__)
        link["href"] = cms.uri(requested_item.path, "pages", str(page.id))
        link.append(page.title)
        return link

    def create_actions(self, page):
        actions = Element()
        actions.add_class("actions")

        for action in ("new", "edit", "reorder", "delete"):
            button = Element("a")
            button.add_class(action)
            button["href"] = "#" + action
            button.append(translate("PageTreeView-" + action))
            actions.append(button)

        return actions

tree_view = PageTreeView()
tree_view.root = site.home
?>

<html
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:py="http://genshi.edgewall.org/"
    xmlns:xi="http://www.w3.org/2001/XInclude">

    <div py:match="body-block">
        ${Markup(tree_view.render())}
    </div>

    <xi:include href="back_office_layout.html"/>

</html>
