<?python
from magicbullet.html import Element
from magicbullet.views.contenttypetree import (
    ContentTypePath,
    ContentTypeSelector,
    ContentTypeTree
)
from magicbullet.html.pager import Pager
from magicbullet.html.table import MULTIPLE_SELECTION
from magicbullet.views.contenttable import ContentTable
?>

<html
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:py="http://genshi.edgewall.org/"
    xmlns:xi="http://www.w3.org/2001/XInclude">

    <head py:match="head" once="True">
        ${select("*|text()")}
        <script type="text/javascript" src="/resources/scripts/backoffice_content.js"></script>
    </head>

    <div py:match="body-block">

        <!--! Content type path -->
        <?python
        class BackOfficeContentTypePath(ContentTypePath):
            class Selector(ContentTypeSelector):
                class Tree(ContentTypeTree):
                    plural_labels = True
                    def create_label(self, item):
                        label = ContentTypeTree.create_label(self, item)
                        label.tag = "a"
                        label["href"] = "?" + view_state(
                            type = item.__name__,
                            page = None,
                            members = None
                        )
                        return label

        content_type_path = BackOfficeContentTypePath()
        content_type_path["id"] = "content_type_path"
        content_type_path.value = content_type
        ?>
        ${Markup(content_type_path.render())}

        <?python
        pager = Pager()
        pager.page = collection.page
        pager.page_size = collection.page_size
        pager.item_count = len(collection.subset())
        ?>
        ${Markup(pager.render())}

        <form method="get" action="${cms.uri(requested_item.path)}">

            ${Markup(view_state_form(language = None, members = None))}

            <div id="toolbar">
                <div id="new_item" class="toolbar_button selector">
                    <span class="label">
                        <img src="${cms.uri('resources', 'images', 'new.png')}"/>
                        ${translate("New item")}
                    </span>
                    <div class="selector_content">
                        <?python
                        class NewItemSelector(ContentTypeTree):
                            root = content_type
                            def create_label(self, content_type):
                                label = ContentTypeTree.create_label(self, content_type)
                                label.tag = "a"
                                label["href"] = cms.uri(requested_item.path, 'new') \
                                    + "?type=" + content_type.__name__
                                return label
                        ?>
                        ${Markup(NewItemSelector().render())}
                    </div>
                </div>
                <button class="toolbar_button" name="section" value="edit">
                    <img src="${cms.uri('resources', 'images', 'edit.png')}"/>
                    <label>${translate("Edit")}</label>
                </button>
                <button class="toolbar_button" name="section" value="delete">
                    <img src="${cms.uri('resources', 'images', 'delete.png')}"/>
                    <label>${translate("Delete")}</label>
                </button>
                <button class="toolbar_button" name="section" value="history">
                    <img src="${cms.uri('resources', 'images', 'history.png')}"/>
                    <label>${translate("History")}</label>
                </button>

                <!--! Visible members selector -->
                <div id="visible_members" class="toolbar_button selector">
                    <span class="label">${translate("Visible members")}</span>
                    <div class="selector_content">
                        <?python
                        from magicbullet.html.selectors import CheckList

                        class MembersSelector(CheckList):
                            def get_item_value(self, item):
                                return item if isinstance(item, basestring) \
                                    else item.name

                        members_selector = MembersSelector()
                        members_selector.name = "members"
                        members_selector.items = collection.schema.ordered_members()
                        members_selector.value = collection.members
                        ?>
                        ${Markup(members_selector.render())}
                        <button name="section" value="content">${translate("Submit")}</button>
                    </div>
                </div>

                <!--! Visible languages selector -->
                <div id="content_languages" class="toolbar_button selector">
                    <span class="label">${translate("Content languages")}</span>
                    <div class="selector_content">
                        <?python
                        from magicbullet.html.selectors import CheckList
                        content_language_selector = CheckList()
                        content_language_selector.name = "language"
                        content_language_selector.items = site.languages
                        content_language_selector.value = content_languages
                        ?>
                        ${Markup(content_language_selector.render())}
                        <button name="section" value="content">${translate("Submit")}</button>
                    </div>
                </div>                
            </div>
            <?python
            content_table = ContentTable()
            content_table.cms = cms
            content_table.base_url = cms.uri(requested_item.path)
            content_table.schema = collection.schema
            content_table["name"] = "content"
            content_table.translations = content_languages
            content_table.selection_mode = MULTIPLE_SELECTION
            content_table.data = [
                item
                for item in collection.page_subset()
                if cms.authorization.allows(action = "read", target_instance = item)
            ]
            for member_name in content_table.schema.members():
                content_table.set_member_displayed(
                    member_name,
                    member_name in collection.members
                )
            ?>
            ${Markup(content_table.render())}
        </form>
    </div>

    <xi:include href="back_office_layout.html"/>

</html>
