<?python
from magicbullet.html import Element
?>

<html
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:py="http://genshi.edgewall.org/">
	
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
        <title>${translate(requested_item)}</title>
        <link rel="Stylesheet" type="text/css" href="/resources/styles/backoffice.css"/>
        <script type="text/javascript" src="/resources/scripts/jquery.js"></script>
        <py:for each="resource in requested_item.resources">${resource.html}</py:for>
	</head>
	
    <body>

        <div id="header">
            <h1>${translate(requested_item)}</h1>
            <div id="identity" py:if="not user.anonymous">
                ${translate("logged in as")}
                <span class="user_identifier">${translate(user)}</span>.
                <form method="post">
                    <input type="submit" name="logout" value="${translate('Logout')}"/>
                </form>
            </div>
        </div>

        <div id="navigation">
            <py:for each="section in sections">
                <?python
                if isinstance(section, basestring):
                    label = translate(section + "_section")
                    section_name = section
                    selected = (section == active_section)
                else:
                    label = translate(section)
                    section_name = section.name
                    selected = (section is active_section)

                tab = Element("a")
                tab["id"] = section_name + "_tab"
                tab["href"] = cms.uri(requested_item.path, section_name)

                if selected:
                    tab.add_class("selected")

                tab.append(label)
                ?>
                ${Markup(tab.render())}
            </py:for>
        </div>
        
        <div id="body">
            <body-block/>
        </div>

        <div id="footer">
            <footer-block/>
        </div>

	</body>

</html>
