<?python
from magicbullet.views.contentform import ContentForm
from magicbullet.schema import DictAccessor
?>

<html
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:py="http://genshi.edgewall.org/"
    xmlns:xi="http://www.w3.org/2001/XInclude">

    <title py:match="title">
        ${translate(edited_item)}
    </title>
    
    <head py:match="head">
        ${select("*|text()")}
        <script type="text/javascript" src="/resources/scripts/tinymce/jscripts/tiny_mce/tiny_mce.js"></script>
    </head>

    <div py:match="div[@id='navigation']" py:attrs="select('@*')">
        ${select("*|text()")}
        <a id="back" href="${cms.uri(requested_item.path)}">Go back</a>
    </div>

    <h1 py:match="h1">
        ${translate(edited_item)}
    </h1>

    <div py:match="body-block">
        <?python       
        form = ContentForm()
        form.accessor = DictAccessor
        form.data = form_data
        form.schema = form_schema

        # Temporary HACK!
        form.translations = site.languages

        # Temporary HACK!
        from magicbullet.html.tinymce import TinyMCE
        if "description" in form_schema.members():
            form.set_member_display("description", TinyMCE)
        if "body" in form_schema.members():
            form.set_member_display("body", TinyMCE)
        ?>
        ${Markup(form.render())}
    </div>

    <xi:include href="back_office_layout.html"/>

</html>
