<?python
from magicbullet.html import Element
from magicbullet.views.contenttypetree import ContentTypeTree
from magicbullet.html.table import Table, MULTIPLE_SELECTION
from magicbullet.schema import Adapter, Member, Collection, Reference

class ContentTable(Table):
    def repr_value(self, item, member, value):
        if value is None:
            return "-"
        else:
            return translate(value, default = value)

table = ContentTable()
table.translations = site.languages            
table["name"] = "content"
table.selection_mode = MULTIPLE_SELECTION
table.data = content_type.index.values()

adapter = Adapter()
adapter.exclude(["id", "draft_source"])
adapter.exclude([
    member.name
    for member in content_type.members().itervalues()
    if isinstance(member, Collection)
])

table.schema = adapter.export_schema(content_type)
table.schema.name = "BackOfficeContentTable"
table.schema.add_member(Member(name = "element"))
table.schema.members_order.insert(0, "element")

def display_element(table, item, member):
    display = Element("label")
    display["for"] = table["name"] + "_selection_" + str(item.id)
    display.append(translate(item))
    for schema in item.__class__.descend_inheritance(True):
        display.add_class(schema.name)
    return display

table.set_member_display("element", display_element)

def display_reference(table, item, member):
    value = table.get_member_value(item, member)
    
    if value is None:
        display = Element()
    else:
        display = Element("a")
        display["href"] = cms.uri(requested_item.path,
                                  "edit",
                                  "?content_selection=%d" % value.id)
        
    display.append(table.repr_value(item, member, value))
    return display

table.set_member_type_display(Reference, display_reference)

?>

<html
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:py="http://genshi.edgewall.org/"
    xmlns:xi="http://www.w3.org/2001/XInclude">

    <head py:match="head" once="True">
        ${select("*|text()")}
        <script type="text/javascript" src="/resources/scripts/backoffice_content.js"></script>
    </head>

    <div py:match="body-block">
        <form method="get" action="${cms.uri(requested_item.path)}">

            <div id="toolbar">
                <div class="toolbar_button" id="new_item">
                    <img src="${cms.uri('resources', 'images', 'new.png')}"/>
                    <label>${translate("New item")}</label>
                    <?python
                    class NewItemSelector(ContentTypeTree):
                        def create_label(self, content_type):
                            label = ContentTypeTree.create_label(self, content_type)
                            label.tag = "a"
                            label["href"] = cms.uri(requested_item.path, 'new') \
                                + "?type=" + content_type.__name__
                            return label
                    ?>
                    ${Markup(NewItemSelector().render())}
                </div>
                <button class="toolbar_button" name="section" value="edit">
                    <img src="${cms.uri('resources', 'images', 'edit.png')}"/>
                    <label>${translate("Edit")}</label>
                </button>
                <button class="toolbar_button" name="section" value="delete">
                    <img src="${cms.uri('resources', 'images', 'delete.png')}"/>
                    <label>${translate("Delete")}</label>
                </button>
                <button class="toolbar_button" name="section" value="history">
                    <img src="${cms.uri('resources', 'images', 'history.png')}"/>
                    <label>${translate("History")}</label>
                </button>

                <?python
                class ContentTypeSelector(ContentTypeTree):
                
                    def create_label(self, item):
                        label = ContentTypeTree.create_label(self, item)
                        label.tag = "a"
                        label["href"] = "?type=" + item.__name__
                        return label

                type_selector = ContentTypeSelector()
                type_selector.root_visible = True
                    
                selected_content_type = type_selector.create_label(content_type)
                selected_content_type.tag = "div"
                selected_content_type["id"] = "content_type_selector"
                selected_content_type.add_class("toolbar_button")
                selected_content_type.append(type_selector)
                ?>
                ${Markup(selected_content_type.render())}
            </div>
            ${Markup(table.render())}
        </form>
    </div>

    <xi:include href="back_office_layout.html"/>

</html>
