<?python
from magicbullet.html import Element
from magicbullet.views.contenttypetree import (
    ContentTypePath,
    ContentTypeSelector,
    ContentTypeTree
)
from magicbullet.html.pager import Pager
from magicbullet.html.table import MULTIPLE_SELECTION
from magicbullet.html.selectors import CheckList, LinkSelector
from magicbullet.views.contenttable import ContentTable
?>

<html
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:py="http://genshi.edgewall.org/"
    xmlns:xi="http://www.w3.org/2001/XInclude">

    <head py:match="head" once="True">
        ${select("*|text()")}
        <script type="text/javascript" src="/resources/scripts/backoffice_content.js"></script>
    </head>

    <div py:match="body-block">

        <!--! Content type path -->
        <?python
        class BackOfficeContentTypePath(ContentTypePath):
            class Selector(ContentTypeSelector):
                class Tree(ContentTypeTree):
                    plural_labels = True
                    def create_label(self, item):
                        label = ContentTypeTree.create_label(self, item)
                        label.tag = "a"
                        label["href"] = "?" + view_state(
                            type = item.__name__,
                            page = None,
                            members = None
                        )
                        return label

        content_type_path = BackOfficeContentTypePath()
        content_type_path["id"] = "content_type_path"
        content_type_path.value = content_type
        ?>
        ${Markup(content_type_path.render())}

        <?python
        pager = Pager()
        pager.page = collection.page
        pager.page_size = collection.page_size
        pager.item_count = len(collection.subset())
        ?>
        ${Markup(pager.render())}

        <form method="get" action="${cms.uri(requested_item.path)}">

            ${Markup(view_state_form(language = None, members = None))}

            <div id="toolbar">
                <div id="new_item" class="toolbar_button selector">
                    <span class="label">
                        <img src="${cms.uri('resources', 'images', 'new.png')}"/>
                        ${translate("New item")}
                    </span>
                    <div class="selector_content">
                        <?python
                        class NewItemSelector(ContentTypeTree):
                            root = content_type
                            def create_label(self, content_type):
                                label = ContentTypeTree.create_label(self, content_type)
                                label.tag = "a"
                                label["href"] = cms.uri(requested_item.path, 'new') \
                                    + "?type=" + content_type.__name__
                                return label
                        ?>
                        ${Markup(NewItemSelector().render())}
                    </div>
                </div>
                <button class="toolbar_button" name="section" value="edit">
                    <img src="${cms.uri('resources', 'images', 'edit.png')}"/>
                    <label>${translate("Edit")}</label>
                </button>
                <button class="toolbar_button" name="section" value="delete">
                    <img src="${cms.uri('resources', 'images', 'delete.png')}"/>
                    <label>${translate("Delete")}</label>
                </button>
                <button class="toolbar_button" name="section" value="history">
                    <img src="${cms.uri('resources', 'images', 'history.png')}"/>
                    <label>${translate("History")}</label>
                </button>

                <!--! Visible members selector -->
                <div id="visible_members" class="toolbar_button selector">
                    <span class="label">${translate("Visible members")}</span>
                    <div class="selector_content">
                        <?python                        
                        class MembersSelector(CheckList):
                            def get_item_value(self, item):
                                return item if isinstance(item, basestring) \
                                    else item.name
                            
                            def get_item_label(self, member):
                                return translate(member)

                        members_selector = MembersSelector()
                        members_selector.name = "members"
                        members_selector.items = collection.schema.ordered_members()
                        members_selector.value = collection.members
                        ?>
                        ${Markup(members_selector.render())}
                        <button name="section" value="content">${translate("Submit")}</button>
                    </div>
                </div>

                <!--! Visible languages selector -->
                <div id="content_languages" class="toolbar_button selector">
                    <span class="label">${translate("Content languages")}</span>
                    <div class="selector_content">
                        <?python
                        content_language_selector = CheckList()
                        content_language_selector.name = "language"
                        content_language_selector.items = site.languages
                        content_language_selector.value = content_languages
                        ?>
                        ${Markup(content_language_selector.render())}
                        <button name="section" value="content">${translate("Submit")}</button>
                    </div>
                </div>

                <!--! Content view selector -->
                <div id="content_languages"
                    class="toolbar_button selector"
                    py:if="len(content_views) &gt; 1">
                    <span class="label">${translate("View as")}</span>
                    <div class="selector_content">
                        <?python
                        class ContentViewSelector(LinkSelector):

                            def get_item_label(self, content_view):
                                return translate(content_view.content_view_id)
                            
                            def get_item_value(self, content_view):
                                return content_view.content_view_id

                        content_view_selector = ContentViewSelector()
                        content_view_selector.name = "content_view"
                        content_view_selector.items = content_views
                        content_view_selector.value = content_view
                        ?>
                        ${Markup(content_view_selector.render())}
                    </div>
                </div>
            </div>
            <?python
            viewer = content_view()
            viewer.cms = cms
            viewer.requested_item = requested_item
            viewer.site = site
            viewer.user_collection = collection
            viewer.languages = content_languages
            ?>
            ${Markup(viewer.render())}
        </form>
    </div>

    <xi:include href="back_office_layout.html"/>

</html>
