/* Margin form */

    form {
        margin: 0;
    }
    

/* Login data and logout button alignment (6 & 7) */

    .BackOfficeLayout .identity {
    	vertical-align: middle;
    }
    
    .BackOfficeLayout .identity * {
    	vertical-align: middle;
    }
    
    .BackOfficeLayout .identity form button {
    	padding-top: 1px;
    }
    
    .translations_selector { display: none; }


/* No results module width fix (6 & 7) */
    
    .no_results {
        height: 1%;
    }
    
    
/* Main type selector margin correction (6 & 7) */
    
    .BackOfficeLayout .ContentTypeSelector {
        _margin-left: 0;
    }
    
    
/* Tab height correction (6 & 7) */

    .tabs button {
    	height: 2em !important;
    	_margin-bottom: -1px;
    }
    
    
/* Edit path height (6) */

    .BackOfficeLayout ul.edit_path {
        _height: 1.2em;
    }
    
    
    
/* Item count alignment */

    .BackOfficeLayout .item_count {
        float: right;
    }
    
    
/* Alignment correction for breadcrumb and filter dropdowns */

    .BackOfficeLayout .ContentTypePath .selector_content,
    .BackOfficeLayout .new_filter_selector .selector_content {
    	left: 0;
    	top: 20px;
    }
    
    .BackOfficeLayout .ContentTypeSelector .selector_content {
        left: 0 !important;
        top: 21px !important;
    }
    
    .content_type_box {
        margin-bottom: 1em;
    }
    
    .content_type_box .label {
        width: auto;
        float: left;
        _font-size: 12px;
    }
    
    .content_type_box div.label {
        _font-weight: bold;
        _margin-right: .5em;
    }
    
    .ActionBar {
        border: 1px solid red;        
        margin: 0;
    }
        
    .BackOfficeLayout .toolbar_box {
        display: block;
        width: 100%;
        overflow: hidden;
        border-left: none;
        border-right: none;
    }
    
    table th div {
        width: auto !important;
    }
        
    .collection_display_container {
        position: relative;
        z-index: 1 !important;
    }
    
    .entry_label {
        display: block;
    }
           
    
/* Breadcrumb and dropdown selection overlay correction */

    .ContentTypeSelector {
    	position: relative;
    	z-index: 12;
    }
        
    .additional_actions_selector,
    .new_filter_selector {
        position: relative;
    	z-index: 11;
    }
    
    .new_toolbar_button {
        position: relative;
    	z-index: 10;
    }
    
    .new_toolbar_button .selector_content,
    .additional_actions_selector .selector_content {
        margin-top: -1px;
    }
    
    
/* Content view selector */
    
    .content_view {
        line-height: 3em;
    }
    
    
    
    .BackOfficeLayout .CollectionView .filters {        
        width: 100%;
        overflow: hidden;
        float: left;
    }
    
    .BackOfficeLayout .CollectionView .filters .new_filter_selector .label {
        background-repeat: no-repeat !important;
    }
    
    
/* Dropdown image alignment */

    .ContentTypeTree li a {
    	display: block;
    	_font-size: 12px;
    }


/* Title font correction */

    .BackOfficeLayout h2 {
        font-size: 100%;
    }   
    
    
/* Fixed selector width */
    
    .new_toolbar_button,
    .additional_actions_selector {
        _width: 100px !important;
    }    
    