/* Margin form */

    form {
        margin: 0;
    }
    

/* Login data and logout button alignment (6 & 7) */

    .BackOfficeLayout .identity {
    	vertical-align: middle;
    }
    
    .BackOfficeLayout .identity * {
    	vertical-align: middle;
    }
    
    .BackOfficeLayout .identity form button {
    	padding-top: 1px;
    }
    
    .translations_selector { display: none; }


/* No results module width fix (6 & 7) */
    
    .no_results {
        height: 1%;
    }
    
    
/* Main type selector margin correction (6 & 7) */
    
    .BackOfficeLayout .ContentTypeSelector {
        _margin-left: 0;
    }
    
    
/* Tab height correction (6 & 7) */

    .tabs button {
    	height: 2em !important;
    	_margin-bottom: -1px;
    }
    
    
/* Edit path height (6) */

    .BackOfficeLayout ul.edit_path {
        _height: 1.2em;
    }
    
    
    
/* Item count alignment */

    .BackOfficeLayout .item_count {
        float: right;
    }
    
    
/* Alignment correction for breadcrumb and filter dropdowns */

    .BackOfficeLayout .ContentTypePath .selector_content,
    .BackOfficeLayout .new_filter_selector .selector_content {
    	left: 0;
    	top: 20px;    	
    }
    
    .BackOfficeLayout .ContentTypeSelector .selector_content {
        left: 0 !important;
        top: 21px !important;
    }
    
    .collection_display_container {
        position: relative;
        z-index: 1 !important;
    }
    
    
/* Breadcrumb and dropdown selection overlay correction */

    .ContentTypeSelector {
    	position: relative;
    	z-index: 12;
    }
    
    .new_toolbar_button,
    .additional_actions_selector {
        position: relative;
    	z-index: 10;
    }
    
    .new_toolbar_button .selector_content,
    .additional_actions_selector .selector_content {
        margin-top: -1px;
    }
    
    
/* Dropdown image alignment */

    .ContentTypeTree li a {
    	display: block;
    }


/* Title font correction */

    .BackOfficeLayout h2 {
        font-size: 100%;
    }   
    
    
/* Fixed selector width */
    
    .new_toolbar_button,
    .additional_actions_selector {
        _width: 100px !important;
    }    
    