
.FacebookPublicationView .selection_block {
    margin-top: 1.5em;
}

.FacebookPublicationView .selection_list {
    list-style-type: none;
    margin: 0;
    margin-top: 1em;
    margin-bottom: 2em;
    padding: 0;
    padding-left: 0.5em;
}

.FacebookPublicationView .selection_item {
    padding: 0;
    margin: 0;
    margin-top: 0.5em;
}

.FacebookPublicationView .selection_list .ContentLink {
    text-decoration: none;
    font-size: 0.9em;
}

.FacebookPublicationView .publication_form .publication_targets_field .field_label {
    margin-bottom: 0.5em;
}

.FacebookPublicationView .publication_form .publication_targets_field .CheckList div {
    margin-top: 0.25em;
    font-size: 0.9em;
}

.FacebookPublicationView .publication_form .buttons {
    width: 30em;
    padding-left: 0;
    margin-left: 0;
}

.FacebookPublicationView .publication_form .close_button {
    float: left;
}

