
.NewsletterView {
    margin: 0 auto;    
}

.NewsletterView img {
    display: block;
}

.NewsletterView td {
    vertical-align: top;
}

.NewsletterView td > *:first-child,
.NewsletterContentView .content_text > *:first-child {
    margin-top: 0;
}

.NewsletterView td > *:last-child,
.NewsletterContentView .content_text > *:last-child {
    margin-bottom: 0;
}

.NewsletterView table {
    width: 100%;
}

