
.ExportStateDisplay {

    .outcome_label {
        margin-top: 5px;
        color: #666;
    }

    .progress_bar {
        display: block;
        margin-top: 10px;
        width: 200px;
    }

    .excel_link {
        font-size: 11px;
    }
}

