
.BackOfficeLayout .TranslationWorkflowRequestCard .translation_workflow_request_state_label {
    margin-right: 0 !important;
    font-weight: bold;
    margin-left: 0.3em;
}

.BackOfficeLayout .TranslationWorkflowRequestCard .translation_workflow_request_state_label,
.BackOfficeLayout .TranslationWorkflowRequestCard .translation_workflow_request_assigned_translator_label {
    color: #666;
}

