<html
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:py="http://genshi.edgewall.org/">
	
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
        <title>$document.title</title>
        <py:for each="resource in document.page_resources">
            <link py:if="resource.uri.endswith('.css')"
                rel="Stylesheet" type="text/css" href="${resource.uri}"/>
            <script py:if="resource.uri.endswith('.js')"
                type="text/javascript" src="${resource.uri}"></script>
        </py:for>
	</head>
	
	<body>
	      <div id="wrapper">
              ${Markup(document.body)}
        </div>
	</body>

</html>
