
$hl-foreground: #db8417;
$hl-background: #dba55f;
$hl-shadow: #bb6200;
$hl-light-background: desaturate(lighten($hl-background, 30), 15);
$selection-hl-foreground: lighten($hl-foreground, 40);
$focus-color: #d2a265;
$item-selector-width: 30em;

@import "cocktail://styles/utils";
@import "cocktail.ui://styles/common";

$panel-icon-color: lighten(desaturate($panel-action-color, 5), 15);
$panel-icon-strong-color: $panel-action-color;
$panel-heading-color: lighten(desaturate($panel-action-color, 15), 10);

@mixin icon-dropdown {

    #button {

        #label {
            svg {
                width: 2em;
                height: auto;
                fill: $panel-icon-color;

                :host([expanded='true']) & {
                    fill: $panel-icon-strong-color;
                }
            }
        }

        &:hover {
            #label svg {
                fill: $panel-icon-strong-color;
            }
        }

        #arrow {
            display: none;
        }
    }
}

@mixin stack-node-with-padding {
    #main {
        padding: 0.8rem 1.3rem;
    }
}

@mixin regular-text {
    color: #333;
    font-size: 1rem;
}

