
@import "woost.admin.ui://styles/common";

:host {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
#panelContent {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    width: 25vw;
}
#searchBox {
    width: 100%;
    margin-bottom: 1em;
}

#modelsList {
    flex: 1 1 auto;
}

.Entry {
    display: flex;
    white-space: nowrap;
    align-items: center;
    padding: 0.8em 1.5em;
    cursor: pointer;

    &.cocktail-ui-Searchable-no_match {
        display: none;
    }

    &:hover {
        background-color: $hl-light-background;
    }

    &[selected] {
        color: $selection-foreground;
        background-color: $selection-background;
    }

    &:hover[selected] {
        background-color: $hl-background;
    }

    .icon {
        --height: 1.3em;
        margin-right: 0.8em;
    }

    .label {
        flex: 1 1 auto;
    }
}

