
@import "woost.admin.ui://styles/common";

:host {
    display: inline-flex;
    flex-direction: row;
}

:host(:focus) {
    outline: none !important;

    #autocomplete {
        border: 1px solid $focus-color;
    }
}

#autocomplete {
    cursor: pointer;

    &:hover {
        border-color: $focus-color;
    }
}

#actionList {
    margin-left: 1em;
}

