
@import "woost.admin.ui://styles/common";

:host(:focus) {
    outline: none !important;

    #autocomplete {
        border: 1px solid $focus-color;
    }
}

#autocomplete {
    cursor: pointer;
    width: $item-selector-width;

    &:hover {
        border-color: $focus-color;
    }
}

#actionList {
    margin-bottom: 0.2em;
    font-size: 0.85em;
}

