
$image-width: 5.2em;
$image-height: 3.5em;
$icon-height: 1.5em;

:host {
    display: inline-block;
    text-align: center;
    color: #999;
    width: $image-width;
}

:host([imageType='none']) {
    display: none;
}

:host([imageType='image']) {
    border: 1px solid #ddd;
    background-color: #f5f5f5;
    height: $image-height;
    overflow: hidden;

    #icon {
        display: none;
    }
}

:host([imageType='icon']) {

    #image {
        display: none;
    }
}

#image {
    display: block;
    margin: auto;
    width: auto;
    height: $image-height;
}

#icon {
    flex: 0 0;
    --height: $icon-height;
}

