
@import "woost.admin.ui://styles/common";

:host {
    display: inline-block;
}

:host(:focus) {
    outline: none !important;

    #autocomplete {
        border: 1px solid $focus-color;
    }
}

#actionList {
    margin-bottom: 0.2em;
}

#autocomplete {
    border: 1px solid #ddd;
    cursor: pointer;

    &:hover {
        border-color: $focus-color;
    }
}

