
#table {
    border-top: none;
    border-left: none;
    border-right: none;
}

.Header,
.Cell {

    &:first-child {
        padding-left: 1.3rem;
    }

    &[member='_thumbnail'] {
        flex: 0 0 5.2em;
        padding-right: 1.3em;
    }
}

.TreeRow[treeFiltersMatch='N+'],
.TreeRow[treeFiltersMatch='F+'] {

    &:not(.cocktail-ui-selected) > .rowContent .rowLabel {
        color: #666;
    }
}

