
#panelWrapper {
    left: -1px;
    width: 100%;
}

#panel {
    min-width: 100%;
}

#entryList {
    overflow: hidden;

    .Entry {
        padding: 0;
        white-space: normal;
        padding-right: 1em;
    }
}

