
@import "woost.admin.ui://styles/common";

:host {
    display: inline-flex;
    flex-direction: row;
}

#dropArea {
    border: 3px dashed $hl-background;
    padding: 2em;
    display: none;

    :host-context(.woost-admin-ui-FileUploader-droppingFile) & {
        display: block;
    }
}

#dropArea.dropArea--highlight {
    border: 3px dashed $hl-shadow;
}

#fileInput {
    display: none;
}

#uploadInfo {
    margin-right: 1em;
    border: 1px solid #ddd;
    padding: 1em;

    :host-context(.woost-admin-ui-FileUploader-droppingFile) & {
        display: none;
    }

    :host([uploadState='uploading']) &,
    :host([empty='true']) & {
        display: none;
    }
}

#fileSizeLabel {
    margin-top: 0.2em;
    font-size: 0.9em;
    color: #666;
}

#actionList {
    :host-context(.woost-admin-ui-FileUploader-droppingFile) & {
        display: none;
    }

    :host([uploadState='uploading']) & {
        display: none;
    }
}

#progressBar {
    :host(:not([uploadState='uploading'])) & {
        display: none;
    }
}

